.blog-container {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: auto;
}
main,
aside {
	margin: 10vh 5vh;
}
.blog-title {
	font-size: 30px;
}
.blog-author {
	font-size: 20px;
}
.blog-image {
	width: 50%;
	margin: 5vh;
}
.blog-content {
	text-align: justify;
	font-size: 18px;
}
.blog-links-container {
	width: 40vh;
	min-height: 50vh;
	background-color: rgb(175, 196, 102);
}
.blog-links-header {
	color: rgb(25, 39, 35);
	font-size: 25px;
	padding: 2vh;
}
.blog-link {
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.blog-link-name {
	padding: 2vh;
}
@media (max-width: 800px) {
	.blog-container {
		flex-direction: column;
	}
	main,
	aside {
		margin: 5vh auto;
	}
	.blog-content {
		margin: auto 5vh;
	}
	.blog-links-container {
		width: auto;
		min-height: 30vh;
	}
}
@media (max-width: 600px) {
	.blog-title {
		font-size: 25px;
	}
	.blog-author {
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	.blog-title {
		font-size: 20px;
	}
	.blog-author {
		font-size: 15px;
	}
	.blog-links-header {
		font-size: 20px;
	}
	.blog-link {
		font-size: 15px;
	}
	.blog-links-container {
		min-height: auto;
	}
}
@media (max-width: 300px) {
	.blog-title {
		font-size: 15px;
	}
	.blog-author {
		font-size: 10px;
	}
	.blog-content {
		font-size: 12px;
	}
	.blog-links-header {
		font-size: 15px;
	}
	.blog-link {
		font-size: 10px;
	}
}
@media (max-width: 200px) {
	.blog-title {
		font-size: 10px;
	}
	.blog-author {
		font-size: 5px;
	}
	.blog-image {
		margin: 2vh auto;
	}
	.blog-content {
		margin: auto 5vw;
		font-size: 10px;
	}
	.blog-links-header {
		font-size: 10px;
	}
	.blog-link {
		font-size: 10px;
	}
}
@media (max-width: 100px) {
	.blog-title,
	.blog-content,
	.blog-links-header,
	.blog-link {
		font-size: 5px;
	}
	main {
		margin: 3vh auto 1vh;
	}
	aside {
		margin: 1vh auto 3vh;
	}
	.blog-links-header,
	.blog-link-name {
		padding: 5vw;
	}
}
