.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #f3e888;
}
.copyright {
	margin: 10vh;
}
.icons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.icon {
	margin: 0vh 10vh 10vh;
}
.footer-container:hover {
	transition-duration: 200ms;
}
@media (max-width: 1000px) {
	.icon {
		margin: 0vh 5vh 5vh;
	}
}
@media (max-width: 700px) {
	.copyright {
		font-size: 25px;
	}
	.icon {
		margin: 0vh 2vh 5vh;
	}
}
@media (max-width: 500px) {
	.copyright {
		font-size: 20px;
	}
	.icon {
		margin: 0vh 1vh 5vh;
	}
}
@media (max-width: 400px) {
	.icons-container {
		flex-direction: column;
	}
	.copyright {
		margin: 5vh;
		font-size: 15px;
	}
	.icon {
		margin: 0px;
	}
}
@media (max-width: 100px) {
	.copyright {
		margin: 2vh;
		font-size: 10px;
	}
}
