* {
	margin: 0;
}
.not-found-container {
	width: 80vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.back button {
	border: 1px solid black;
	border-radius: 50%;
	padding: 5vh 2vh;
	font-size: 2vh;
	background-color: black;
	color: white;
}
.not-found-image {
	width: 60%;
	margin: 2vw 0px;
}
